

.align-middle
{
    min-height: 10vh !important;
}

.hero-bottom-svg
{
    visibility: hidden;
}

.card
{
    background-color: #eee;
}

.dark .card
{
    background-color: #222;
}

.dark .btn-sm
{
    color: #eee;
}

.light .badge
{
    color: #222;
}